@font-face {
  font-family: 'GjensidigeSans';
  src: url('./fonts/GjensidigeSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: 'GjensidigeSans';
  src: url('./fonts/GjensidigeSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'GjensidigeSans', sans-serif; /* Bruk GjensidigeSans som førsteprioritet, fallback til en sans-serif font */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;
}

.calculator {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chart {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.calculate-button {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.calculate-button:hover {
  background: #0056b3;
}

.App-banner {
  width: 100%; /* or whatever percentage or fixed size you want */
  height: auto; /* to keep aspect ratio */
  display: block; /* to center the image */
  margin-left: auto;
  margin-right: auto;
}

.App-footer {
  width: 70%; /* or whatever percentage or fixed size you want */
  height: auto; /* to keep aspect ratio */
  display: block; /* to center the image */
  margin-left: auto;
  margin-right: auto;
}


body {
  font-family: 'Gjensidige Sans', sans-serif;
}